{% extends "layouts/base.twig" %}
{% set myEntryQuery = craft.entries.section('music').relatedTo(entry) %}
{% set myEntry = myEntryQuery.all() %}

{% block body %}

    <h1>{{ entry.title }}</h1>

    <p>
        <strong>First name:</strong> {{ entry.firstName }}
    </p>

    <p>
        <strong>Last name:</strong> {{ entry.lastName }}
    </p>

    <p>
        <strong>Country:</strong> {{ entry.country }}
    </p>

    <p>
        <strong>Tracks:</strong>
        <ul>
            {% for track in myEntry %}
                <li><a href="{{ track.url }}">{{ track.title }}</a></li>
            {% endfor %}
        </ul>
    </p>


{% endblock %}