{% extends "layouts/base.twig" %}
{% set myEntryQuery = craft.entries.section('music').relatedTo(entry) %}
{% set myEntry = myEntryQuery.all() %}

{% block body %}
    <div class="container artist-detail">
        <a href="/artists" class="back"> ← See all artists</a>
        <h1>{{ entry.title }}</h1>

        <p>
            <strong>First name:</strong>
            <br>
            {{ entry.firstName }}
        </p>

        <p>
            <strong>Last name:</strong>
            <br>
            {{ entry.lastName }}
        </p>

        <p>
            <strong>Country:</strong>
            <br>
            {{ entry.country }}
        </p>

        <p>
            <div class="tracks">
            <strong>Tracks:</strong>
                {% for track in myEntry %}
                    <a href="{{ track.url }}">{{ track.title }}</a>
                {% endfor %}
            </div>
        </p>
    </div>
{% endblock %}