{% extends "layouts/base.twig" %}
{% set entryArtists = entry.artists.all() %}

{% block body %}
    <div class="container music-detail">
        <a href="/music" class="back"> ← See all Music</a>
        <figure>
            <img src="{{ entry.image.one().getUrl('small') }}" alt="{{ entry.image.one().title }}">
        </figure>
        <div class="music-detail__info">
            <h1>{{ entry.title }}</h1>

            <p>{{ entry.description }}</p>

            <ul>
                <li class="music-detail__artists">
                    <strong>Artists:</strong>
                        <br>
                        {% for artist in entryArtists %}
                            <a href="{{ artist.url }}">{{ artist.title }}</a>{% if not loop.last %} / {% endif %}
                        {% endfor %}
                </li>
                <li>
                    <strong>Duration:</strong>
                    <br>
                    {{ entry.duration }} min.
                </li>
                <li>
                    <strong>Release date:</strong>
                    <br>
                    {{ entry.releaseDate | date('F j, Y') }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}